.product {
  display: flex;
  flex-direction: column;
  /* Handle resizing */
  min-width: 100px;
  max-height: 400px;
  background-color: white;
  margin: 15px;
  z-index: 1;
  padding: 20px;
  width: 100%;
  align-items: center; /*Center all the items in the container*/
  justify-content: flex-end;
}
.product__info {
  height: 100px;
  margin: 5px;
}

.product__rating {
  display: flex;
}

.product > img {
  /* Image inside the product */
  max-height: 275px;
  width: 100%;
  object-fit: contain;
}

.product__price {
  margin-top: 5px;
}

.product > button {
  background: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
}
